body {
	margin: 0;
	font-family: Poppins, Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.box {
	flex: 1;
	display: flex;
	justify-content: center;
}